<?php
//source: birthday file
$source = ['Bdf', '/path/to/birthday.bdf'];

//Source: CSV file (simple)
$source = ['Csv', '/path/to/file.csv'];

//Source: CSV file (complex)
$source = [
    'Csv',
    [
        'filename' => '/path/to/file.csv',
        'columns' => [
            'name'  => 0,
            'event' => 1,
            'date'  => 2
        ],
        'firstLineIsHeader' => true,
        'defaultEvent' => 'Birthday',
        'separator' => ',',
    ]
];

//Source: SQL database
$source = [
    'Sql',
    [
        'dsn' => 'mysql:dbname=bdrem;host=127.0.0.1',
        'user' => 'FIXME',
        'password' => 'FIXME',
        'table' => 'contacts',
        'fields' => [
            'date' => [
                //column name => event title
                'c_birthday' => 'Birthday'
            ],
            //column with name, or array with column names
            'name' => ['c_name'],
            //sprintf-compatible name formatting instruction
            'nameFormat' => '%s',
        ]
    ]
];

//Source: LDAP
$source = [
    'Ldap',
    [
        'host'   => 'ldap.example.org',
        'basedn' => 'ou=adressbuch,dc=example,dc=org',
        'binddn' => 'cn=FIXME,ou=users,dc=example,dc=org',
        'bindpw' => 'FIXME'
    ]
];

//Source: Directory of .vcf vCard files (2 subfolder levels supported)
$source = ['vCard', '/home/user/contacts/'];


$daysPrev = 3;
$daysNext = 14;
$locale = 'de_DE.UTF-8';

//email settings
$mail_from = 'birthday@example.org';
$mail_to = ['a@example.org', 'b@example.org'];
?>
